<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>index</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/styles.css">
  <script src="https://kit.fontawesome.com/8fd34ba61d.js" crossorigin="anonymous"></script>
</head>

<body>
  <div class="landing">
    <div class="landingText">
      <h1>Christopher Sy Alba</h1>
      <hr class="hrlanding">
      <p>ONLINE RESUME</p>
    </div>
    <div class="scrollDown">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d1/Sort_down_font_awesome.svg/600px-Sort_down_font_awesome.svg.png" alt="">
    </div>
    <div class="landingOverlay">
      <!-- This is just a color overlay -->
    </div>
  </div>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="#">Christopher Sy Alba</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
          <li class="nav-item 1">
            <a class="nav-link" href="#">About Me</a>
          </li>
          <li class="nav-item 2">
            <a class="nav-link" href="#">Education</a>
          </li>
          <li class="nav-item 3">
            <a class="nav-link" href="#">Skills</a>
          </li>
          <li class="nav-item 4">
            <a class="nav-link" href="#">Projects</a>
          </li>
          <li class="nav-item 5">
            <a class="nav-link" href="#">Contact</a>
          </li>
        </ul>
      </div>
    </div>

  </nav>
    <div class="aboutMe animation-element">
      <div class="container">
        <div class="row aboutMeInner">
          <div class="col-lg-5">
            <img class="profileImg" src="images/portrait.jpg" alt="">
          </div>
          <div class="col-lg-7 aboutDetails">
            <h1 class="aboutMainTitle">About Me</h1>
            <p><span class="aboutLabels">Name:</span> Christopher Sy Alba</p>
            <p><span class="aboutLabels">Age:</span> 20</p>
            <p><span class="aboutLabels">Occupation:</span> Student</p>
            <p><span class="aboutLabels">Location:</span> Auckland, New Zealand</p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4">
            <h2>My Occupation</h2>
            <p>I am a full time student studying Computer Systems Engineering at the University of Auckland. In this degree, we study about how electronic circuits function and how to program computers at the level close to the hardware.</p>
          </div>
          <div class="col-lg-4">
            <h2>My Passion</h2>
            <p>I have a passion for technology, problem solving and design, which lead me to take Computer Systems at university and is why I learn web development in my spare time.</p>
          </div>
          <div class="col-lg-4">
            <h2>My Practices</h2>
            <p>When I design something, it must be something I can be proud of. I believe that even the little details shouldn't be ignored. When this comes to web development, I ensure my websites are responsive, dynamic and attractive with fast
              loading times to give the best user experience. When it comes to programming in general, I ensure my code is readable, reusable and DRY.</p>
          </div>

        </div>
      </div>
    </div>
    <!-- About Me closing tag -->

    <div class="education animation-element">
      <div class="container">
        <h1>Education</h1>
        <div class="row">
          <div class="col-lg-4">
            <img src="http://kb.blogs.auckland.ac.nz/files/2015/10/uoa-v-colour2.png" alt="">
          </div>
          <div class="col-lg-8 educationDescription">
            <p><span class="educationTitle">University:</span> University of Auckland</p>
            <p><span class="educationTitle">Degree:</span> Computer Systems Engineering</p>
            <p><span class="educationTitle">Level:</span> Year 2</p>
            <p><span class="educationTitle">Graduating:</span> 2022</p>
            <p><span class="educationTitle">Practical Work Needed:</span> 800 hours</p>
          </div>
        </div>
        <hr>
        <div class="educationMore">
          <div class="educationInner">
            <h2>Specific Topics that We Learn</h2>
            <div class="row">
              <div class="col-md-4">
                <strong>
                  <p>Computer architecture and microcontrollers</p>
                </strong>
              </div>
              <div class="col-md-8">
                <p>This involves systems architecture, memory systems, the optimisation of application-specific hardware and software, and more</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <strong>
                  <p>Embedded systems design</p>
                </strong>
              </div>
              <div class="col-md-8">
                <p>This involves your knowledge of signals and actuators to affect the cyber-physical systems for real-time, safety-critical resources like automobiles, robotics, medical devices, and industrial automation systems</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <strong>
                  <p>Hardware design of digital systems</p>
                </strong>
              </div>
              <div class="col-md-8">
                <p>This involves advanced electronic design automation tools to regulate, simulate, debug and implement models for smart devices</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <strong>
                  <p>Software design</p>
                </strong>
              </div>
              <div class="col-md-8">
                <p>This involves real-world projects, focusing on object-oriented programming, data structures, algorithms, scripting language and online P2P communication, as well as an introduction to essential programming languages such as C++,
                  Java and Python</p>
              </div>
            </div>
          </div>
          <hr>
          <div class="educationInner">
            <h2>Papers I've Taken</h2>
            <div class="row">
              <div class="col-md-4">
                <strong>
                  <p>ENGSCI 211</p>
                </strong>
              </div>
              <div class="col-md-8">
                <p>Mathematical Modelling</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <strong>
                  <p>ELECTENG 210</p>
                </strong>
              </div>
              <div class="col-md-8">
                <p>Electronics</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <strong>
                  <p>ELECTENG 202</p>
                </strong>
              </div>
              <div class="col-md-8">
                <p>Electrical Circuit Analysis</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <strong>
                  <p>COMPSYS 201</p>
                </strong>
              </div>
              <div class="col-md-8">
                <p>Designed logic circuits and built projects with VHDL</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <strong>
                  <p>COMPSYS 202</p>
                </strong>
              </div>
              <div class="col-md-8">
                <p>Learned OOP in Linux C++ environment. I gained a notable 95% average in projects and 83% overall</p>
              </div>
            </div>
          </div>
        </div>
        <div class="buttonDiv">
          <button type="button" class="btn btn-outline-dark btn-lg" name="button">Learn More</button>
        </div>
      </div>
    </div>

    <div class="skills animation-element">
      <div class="container">
        <h1>Technology Skill Set</h1>
        <div class="row">
          <div class="col-md-4">
            <h2>Frontend</h2>
          </div>
          <div class="col-md-8">
            <div class="row skillItem">
              <div class="col">
                <p>HTML</p>
              </div>
              <div class="col stars">
                <p><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></p>
              </div>
            </div>
            <div class="row skillItem">
              <div class="col">
                <p>CSS</p>
              </div>
              <div class="col stars">
                <p><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i></p>
              </div>
            </div>
            <div class="row skillItem">
              <div class="col">
                <p>Javascript</p>
              </div>
              <div class="col stars">
                <p><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></p>
              </div>
            </div>
            <div class="row skillItem">
              <div class="col">
                <p>jQuery</p>
              </div>
              <div class="col stars">
                <p><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i></p>
              </div>
            </div>
            <div class="row skillItem">
              <div class="col">
                <p>EJS</p>
              </div>
              <div class="col stars">
                <p><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i></p>
              </div>
            </div>
            <div class="row skillItem">
              <div class="col">
                <p>Bootstrap</p>
              </div>
              <div class="col stars">
                <p><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i></p>
              </div>
            </div>
          </div>
        </div>

        <hr>

        <div class="row">
          <div class="col-md-4">
            <h2>Backend</h2>
          </div>
          <div class="col-md-8">
            <div class="row skillItem" >
              <div class="col">
                <p>Node.js</p>
              </div>
              <div class="col stars">
                <p><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></p>
              </div>
            </div>
            <div class="row skillItem">
              <div class="col">
                <p>Express.js</p>
              </div>
              <div class="col stars">
                <p><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></p>
              </div>
            </div>
            <div class="row skillItem">
              <div class="col">
                <p>MongoDB</p>
              </div>
              <div class="col stars">
                <p><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></p>
              </div>
            </div>
            <div class="row skillItem">
              <div class="col">
                <p>Mongoose</p>
              </div>
              <div class="col stars">
                <p><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></p>
              </div>
            </div>
          </div>
        </div>
        <hr>

        <div class="row">
          <div class="col-md-4">
            <h2>Engineering</h2>
          </div>
          <div class="col-md-8">
            <div class="row skillItem" >
              <div class="col">
                <p>C++</p>
              </div>
              <div class="col stars">
                <p><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></p>
              </div>
            </div>
            <div class="row skillItem">
              <div class="col">
                <p>C</p>
              </div>
              <div class="col stars">
                <p><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></p>
              </div>
            </div>
            <div class="row skillItem">
              <div class="col">
                <p>Matlab</p>
              </div>
              <div class="col stars">
                <p><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></p>
              </div>
            </div>
            <div class="row skillItem">
              <div class="col">
                <p>VHDL</p>
              </div>
              <div class="col stars">
                <p><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></p>
              </div>
            </div>
            <div class="row skillItem">
              <div class="col">
                <p>Quartus II</p>
              </div>
              <div class="col stars">
                <p><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></p>
              </div>
            </div>
            <div class="row skillItem">
              <div class="col">
                <p>LT Spice</p>
              </div>
              <div class="col stars">
                <p><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="projects animation-element">
      <div class="container ">
        <h1>Projects</h1>
        <h2 class="projectsTitle">Web Development Projects</h2>
        <div class="projectsWebdev">
          <div class="row">
            <div class="col-lg-6">

                <a href=""><img class="projectImgs img1" src="images/minecraftGallery.png" alt=""></a>
                <a href="https://kittymaster1999.github.io/minecraftGallery/">
                  <div class="hiddenTxt txt1">
                    <h3>Minecraft Gallery</h3>
                    <p><i class="fas fa-mouse"></i> Visit</p>
                  </div>
                </a>
                <div class="projectsMoreTxt">
                  <p>This website was made using HTML, CSS and Bootstrap 4. It currently has no functionality and only consists of one page.</p>
                  <p>I made this website to practice my skills in styling when I was relatively new to web development.</p>
                  <p>When I complete this project, it will allow Minecraft players to share their creations with other players in the community and to download and be inspired by other people's work.</p>
                </div>

              <div>

                  <button class="btn btn-dark projectsMoreBtn" type="button">+</button>
              </div>
            </div>
            <div class="col-lg-6">
                <a href=""><img class="projectImgs img2" src="images/personalSite.png" alt=""></a>
                <a href="https://agile-refuge-67981.herokuapp.com/landing">
                  <div class="hiddenTxt txt2">
                    <h3>Personal Website</h3>
                    <p><i class="fas fa-mouse"></i> Visit</p>
                  </div>
                </a>
                <div class="projectsMoreTxt">
                  <p>This website was made using HTML, CSS , JS , Bootstrap 4 and jQuery for the frontend. The backend uses Node.js, Express and EJS for templating. It makes use of an API that generates random images and all pages were made using EJS.</p>
                  <p>This website was made to showcase myself and my work to others and is constantly updated.</p>
                  <p>I am currently using Heroku for free website hosting for this website.</p>
                </div>

                <button class="btn btn-dark projectsMoreBtn" type="button">+</button>
            </div>
            <div class="col-lg-6">
                <a href=""><img class="projectImgs img3" src="images/personalSite2.png" alt=""></a>
                <a href="/">
                  <div class="hiddenTxt txt3">
                    <h3>Personal Site 2</h3>
                    <p><i class="fas fa-mouse"></i> Visit</p>
                  </div>
                </a>
                <div class="projectsMoreTxt">
                  <p>This website was designed to showcase my skills , background and projects all in one page thats easy to navigate.</p>
                  <p>The frontend uses HTML, CSS, Javascript, Bootstrap4 and jQuery. The backend uses Node.js and Express.js.</p>
                  <p>It's being hosted on Heroku servers for free.</p>
                </div>
                <button class="btn btn-dark projectsMoreBtn" type="button">+</button>
            </div>
            <div class="col-lg-6">
                <a href=""><img class="projectImgs img4" src="images/toDoListV2.png" alt=""></a>
                <a href="https://cryptic-shore-73893.herokuapp.com/">
                  <div class="hiddenTxt txt4">
                    <h3>To Do List with Database</h3>
                    <p><i class="fas fa-mouse"></i> Visit</p>
                  </div>
                </a>
                <div class="projectsMoreTxt">
                  <p>This web application is a to do list where you can add, complete, and remove a user specified task.You can also create multiple lists with different items inside them.</p>
                  <p>I made it using HTML, CSS, JS, Bootstrap 4 for the frontend. For the backend it uses Node.js, Express and EJS for templating. </p>
                  <p>It uses MongoDB for the database, where the database is hosted on MongoDB Atlas. I am currently using Heroku for free website hosting for this website.</p>
                </div>
                <button class="btn btn-dark projectsMoreBtn" type="button">+</button>
            </div>

          </div>

        </div>
        <h2 class="projectsTitle" style="padding-top:200px;">Engineering Projects</h2>
        <div class="projectsEngineering">
          <h1>I currently have not uploaded any of my engineering projects</h1>

        </div>


      </div>
    </div>
    <div class="contact animation-element">
      <div class="container">
        <h1>Contact Me</h1>
        <p>Phone: 0211711211</p>
        <p>Email: albasychris@gmail.com</p>
        <a href="https://github.com/christopher-alba?tab=repositories"><i class="fab fa-github"></i></a>

      </div>
    </div>











  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script type="text/javascript" src="js/script.js">

  </script>
</body>

</html>
